/*GENERAL*
/*------------------------------------------------*/

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: rgb(247, 247, 247);
}

/*CABECERA*/
.cabecera {
    background-color: rgb(255, 178, 90);
    font-size: 20px;
    margin-top: 0;
}

.cabecera img {
    width: 110px;
    height: 120px;
}

.cabecera nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecera nav ul li {
    display: inline-block;
}

.cabecera nav ul li a:hover {
    color: black;
}

.cabecera nav ul li:first-child {
    margin-right: auto;
}

.cabecera nav ul li:not(:first-child) {
    margin-left: 25px;
}

.cabecera nav ul li a {
    text-decoration: none;
    color: white;
}

/*------------------------------------------------*/
/*FOOTER*/
.pie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 213, 165);
    padding: 1rem;
}

.pie p:first-child {
    margin-right: auto;
}

.pie p:not(:first-child) {
    margin-left: 20px;
}

.pie a {
    text-decoration: none;
    color: black;
}

.autora {
    display: flex;
    flex-direction: column;
}

.autora img {
    width: 100px;
    height: 110px;
}

.footerDerecha {
    display: flex;
    flex-direction: column;
}

.redesSociales {
    display: flex;
    justify-content: flex-end;
}

.enlaces {
    display: flex;
}

@media (max-width: 768px) {
    .pie {
        flex-direction: column;
        text-align: center;
    }

    .autora,
    .footerDerecha {
        width: 100%;
        align-items: center;
        margin-bottom: 20px;
    }

    .redesSociales {
        justify-content: center;
        margin-bottom: 10px;
    }

    .enlaces {
        align-items: center;
    }
}

@media (max-width: 480px) {
    .pie {
        padding: 10px;
    }

    .autora img {
        max-width: 80%;
        height: auto;
    }

    .enlaces {
        flex-direction: column;
        align-items: center;
    }

    .enlaces p {
        margin: 5px 0;
    }

    .enlaces p:not(:first-child) {
        margin-left: 0;
    }
}

/*------------------------------------------------*/
/*INDEX.HTML*/
.introduccion {
    display: flex;
    align-items: stretch;
}

.bienvenida,
.formularioRegistro {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 25%;
}

.formularioRegistro {
    justify-content: center;
}

.formularioRegistro button {
    background-color: white;
    color: rgb(255, 119, 8);
    border: 1px solid rgb(255, 119, 8);
    cursor: pointer;
    border-radius: 10px;
    padding: 0.5rem;
}

.formularioRegistro button:hover {
    background-color: rgb(252, 227, 181);
}

.bienvenida {
    width: 100%;
}

div[class="fotoPrincipal"] img {
    width: 100%;
    height: 80%;
}